<p id="notice"><%= notice %></p>

<h1>Prodects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Vendor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prodects.each do |prodect| %>
      <tr>
        <td><%= prodect.name %></td>
        <td><%= prodect.price %></td>
        <td><%= prodect.vendor %></td>
        <td><%= link_to 'Show', prodect %></td>
        <td><%= link_to 'Edit', edit_prodect_path(prodect) %></td>
        <td><%= link_to 'Destroy', prodect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prodect', new_prodect_path %>
