<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prodect.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @prodect.price %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @prodect.vendor %>
</p>

<%= link_to 'Edit', edit_prodect_path(@prodect) %> |
<%= link_to 'Back', prodects_path %>
